 * {
     margin: 0;
     padding: 0;
 }

 .container {
     width: 100%;
     height: 100%;
     display: flex;
 }

 #header {
     border: 2px solid black;
     width: 100%;
     height: 100%;
     background-color: bisque;
     color: black;
 }

 .logo {
     border: 1px solid red;
     width: 80px;
     height: 16px;
     padding: 10px;
     margin: 45px;
     text-align: center;
     background-color: bisque;
 }

 .navbar {
     /* border: 2px solid blue; */
     width: 820px;
     height: 52px;
     margin: 8px 292px;
     padding: 0px 3px;
     display: grid;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: -60px;
 }

 .navbar ul {
     /* margin: 20px ; */
     overflow: auto;
 }

 .navbar ul li {
     list-style: none;
     display: inline-block;
     /* display: flex; */
     /* display: block; */
     /* padding: 0px 1px; */

 }

 .navbar ul li a {
     margin: 1px 10px;
     border-radius: 20px;
     text-decoration: none;
     padding: 0px 20px;
 }

 .navbar a:hover {
     color: black;
     background-color: wheat;
 }

 .right {
     /* border: 2px solid yellowgreen; */
     float: right;
     margin: -105px 436px;
     cursor: pointer;

 }

 .right img {

     width: 12px;
     height: 12px;
 }

 .item {
     border: 1px solid red;
     float: right;
     color: white;
     margin: -47px 366px;
     border-radius: 20px;
     width: 100px;
     height: 23px;
     text-align: center;
     background-color: red;
     cursor: pointer;
 }

 .thumb {
     /* border: 2px solid blue; */
     float: right;
     margin: -110px 349px;
     cursor: pointer;
 }

 .thumb img {
     width: 28px;
     height: 27px;
 }

 span {
     /* border: 1px solid green; */
     margin: -103px 293px;
     float: right;
 }
 #main{
    width: 80%;
    height:485px;
    /* border: 1px solid red; */
    margin-top: 30px;
    display: block;
    margin: 80px 90px;
    padding: 60px;
    background-color: antiquewhite;
 }
 .para{
    /* border: 2px solid green; */
    font-weight: bold;
    font-size: 2em;
 }
.box-item{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    /* grid-template-columns: auto; */
    display: flex;
    grid-gap: 1rem;
    float: left;
    width: 700px;
    /* border: 2px solid pink; */
    margin-left: -2px;
    margin-top: 70px;
    
    
}
.box-item img{
    /* border: 2px solid blue; */
    width: 36px;
    height: 27px;
    margin-top: 30px;
    margin-left: 50px;
    /* margin-top: -30px; */
    display: block;
    margin:-5px 26px;
}
.box-item .item1 span{
    width: 140px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -36px 33px;
    /* display: flex; */
    padding: 20px;
    font-weight: bold;
}
.item1{
    width: 255px ;
    height: 17px;
    /* border: 2px solid black; */
    border-radius: 20px;
    text-align: center;
    margin: 0px 0px;
    padding: 10px 10px;
    margin-top: 30px;
    background-color: aqua;
}
.item2{
    width: 115px;
    height: 17px;
    font-weight: bold;
    /* border: 2px solid black; */
    border-radius: 20px;
    text-align: center;
    margin: 0px 10px;
    padding: 10px 20px;
    margin-top: 30px;
    background-color: brown;
}
.item3{
    width: 115px ;
    height: 18px;
    /* border: 2px solid black;  */
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
    margin: 0px 10px;
    padding: 10px 20px;
    margin-top: 30px;
    background-color: blueviolet;
}
.box1{
    display: flex;
    width: 491px;
    height: 300px;
    justify-content: center;
    align-items: center;
    float: right;
    margin-top: 5px;
    
}
.box-side {
    width: 298px;
    height: 100px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* text-align: center; */
}
.box-side p{
    align-items: center;
    display: flex;
    justify-content: center;
}
.box-one{
    width: 500px;
    border: 2px solid black;
    border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        text-align: center;
        align-items: center;
        font-size: 19px;
        padding: 20px;
}
.box2{
         display: flex;
        width: 40%;
        height: 200px;
        justify-content: center;
        float: right;
        text-align: center;
        margin-top: -100px;
        margin-left: 700px;
    }
    .boz-side-2{
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        border: 2px solid rgb(241, 6, 33);
        float: right;
        /* align-items: center; */
    }
    .box-two{
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1.4em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 295px;
    height: 50px;
    border: 2px solid rgb(2, 1, 16);
    background-color: red;
    color: white;
    padding: 0px;
}
.right-side{
    width: 300px;
    height: 40px;
    border: 2px solid black;
    display: flex;
    float: right;
    /* margin-top: -80px; */
    margin: -108px 88px;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 8px;
}
.box-3{
    width: 100%;
    /* border: 2px solid blue; */
    /* height: 100%; */
    margin-top: 200px;
}
.box3{
    width: 400px;
    height: 73px;
    /* border: 2px solid red; */
    margin-top: 400px;
    display: block;
}
.box3 p{
    width: 200px auto;
    /* border: 2px solid burlywood; */
    margin: 10px;
}
.date{
    /* border: 2px solid green; */
    width: 300px auto;
    display: flex;
    margin: 10px;
    display: block;
}
.box4{
    width: 600px;
    height: 80px;
    /* border: 2px solid black; */
    margin:-58px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.location{
    margin-top: -25px;
    /* border: 2px solid greenyellow; */
}
.box5{
    width: 600px;
    height: 70px;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid grey; */
    float: right;
    margin: -31px -80px;
}
#aside{
    width: 89%;
    height: 100%;
    /* border: 2px solid green; */
    /* float: right; */
    /* margin: 0px 20px; */
    margin-top: -40px;
    margin: 85px;
   

}
.aside1{
    width: 300px;
    height: 866px;
    /* border: 2px solid red; */
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: block;  */
    background-color: rgb(250, 213, 168);
}
.aside1 img{
    border: 2px solid blue;
    width: 80px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -113px 106px;
    /* margin-top: 40px; */
}
.aside-right p{
    /* width: 100px; */
    height: 100%;
    /* border: 2px solid brown; */
    text-align: center ;
    margin: 20px;
    margin-top: 150px;
}
.aside-para{
    /* margin: 80px; */
    padding: 30px;
}
.social{
    width: 100%;
    height: 100px;
    /* border: 2px solid red; */
    margin: 0px 35px;
}
/* .social a{
    display: block;
    display: flex;
} */
.media a{
    border: 2px solid black;
    /* width: 500px; */
    margin: 50px 7px;
}
.fa{
    padding: 3px;
    font-size: 18px;
    width: 25px;
    height: 20px;
    border: 3px solid green;
    text-align: center;
    text-decoration: none;
    margin:30px 5px;
    margin-left: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-instagram {
    background: #f42e38 ;
    color: white;
}
.hr{
    /* border: 2px solid rgb(197, 197, 252); */
    width: 66vw;
    margin: 0px 20px;
}
.class{
    margin: 17px 30px;
}
.time{
    margin: 20px 30px;
    
}
.time h2{
    display: inline;
}
.time-1{
    font-size: 20px;
    display: inline;
}
.dates{
    margin: 0px 30px;
}
.dates h2{
    display: inline;
}
.date1{
    display: inline;
    margin: 0px 15px;
    font-size:19px;
}
.date-2{
    margin: 5px 74px;
}
.date2{
    display: inline;
    margin: 0px 15px;
    font-size: 19px;
}
.cont{
    width: 100%;
    height: 100%;
    /* border: 2px solid gray; */
    /* margin-top: 40px; */
    position: relative;
    
}
.cont::before{
    background: url(image.jpg )no-repeat center center/cover;
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 170px;
    margin-top: -20px;
    opacity: 0.80;
}
.cont-1{
    /* width: 68vw;
    height: 110px;
    /* border: 2px solid red; */
    border-radius: 25px;
    margin: 40px 165px;
    background-color: rgb(243, 235, 235);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* text-align: center; */
} */
.cont1{
    margin-top: 20px;
}
.paragraph {
    /* display: inline; */
    padding: 20px;
        text-align: center;
        font-style: italic;
        font-size: 1.1rem;
        font-weight: bold;
        /* display: inline; */
}
.cont-2{
   
        width: 68vw;
        height: 110px;
        /* border: 2px solid red; */
        border-radius: 25px;
        margin: 40px 165px;
        background-color: rgb(243, 235, 235);
        /* display: flex; */
        justify-content: center;
        align-items: center;
        /* text-align: center; */
}
#abc{
    width: 89%;
    height: 100%;
    /* border: 2px solid blue; */
    margin: -30px 84px;
}
.similar{
    margin: 40px 40px;
}
.ABC{
    width: 80vw;
    height: 25vh;
    /* border: 2px solid black;  */
    display: grid;
    grid-template-columns: 15fr 1fr -8fr;
    /* margin: 0px 100px; */
    margin: auto;
    /* gap: 20em; */
}
.abc-1{
    width: 190px;
    font: 1em sans-serif;
    letter-spacing: 2px;
}
.abc1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* gap: 20em; */
}
.abc1 .learn{
    color: red;
    font-size: 1em;
    
}
#about{
    width: 100%;
    height: 100%;
    /* border: 2px solid green; */
    margin-top: 100px;
}
.remote{
    margin: 55px 80px;
}
.remote1{
    margin-top: 40px;
    font-size: 18px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
.remote-1{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    
}
.rem{
    /* margin: 0px 0px; */
    color: red;
    font-size: 17px;
}
.hr1{
    margin-top: 85px;
}
.policy{
    margin: 70px 0px;
}
.polo{
    margin-top: 30px;
}
.policy1{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* border: 2px solid blue; */
    
}
.policy1 h5{
    color: red;
    font-size: large;
}
.policy-1{
    width: 200px;
    gap: 2rem;
    margin: 0px 0px;
    font-size: 1em;
}
#footer{
    width: 100%;
    height: 570px;
    /* border: 2px solid red;       */
    margin-top: 130px;
    background-color: grey;
    
}
.foot{
    /* border: 2px solid blue; */
    margin: 30px 130px;
    color: white;
}
.footer1{
    display: inline-block;
    margin: 145px 25px;
    
}
#contact{
    margin: 5px 135px;
    /* display: inline-block; */
}
#contact h3{
    margin: 0px 32px;
    /* border: 2px solid brown; */
    color: white;
}
.contact1{
    margin: -80px -15px;

}
.Address{
    margin: 4px 20px;
    padding: 10px;
    display: block;
    color: rgb(217, 69, 29);
    
}
.office{
    /* margin-left: 5px; */
    display: flex;
    margin: 20px 30px;
    color: rgb(217, 69, 29);
}
.office p{
    margin: 0px 5px;
    color: white;
}
.email{
    display: flex;
    margin: -35px 255px;
    color: rgb(217, 69, 29);
}
.email p{
    margin: 0px 5px;
    color: white;
}
.copy{
    
    margin: 165px 30px;
    color: white;
}
.get {
    float: right;
    margin: -414px 310px;
    display: block;
    font-size: 20px;
}
.place {
    width: 380px;
    height: 48px;
    border-radius: 25px;
    display: flex;
    margin: -383px 150px;
    float: right;  
}
.button{
    background-color: white;
    width: 385px;
    height: 52px;
    border: 2px solid black;
    border-radius: 30px;
    float: right;
    margin: 5px 0px;
}
.button p{
    padding: 10px;
    text-align: left;
    margin: 3px 12px;
    color: rgb(139, 136, 136);
}
.button1{
    width: 165px;
    height: 45px;
    /* border: 2px solid black; */
    border-radius: 25px;
    float: right;
    margin: -379px 154px;
    /* display: block; */
    background-color: rgb(245, 131, 18);
    cursor: pointer;
}
.button1 p{
    color: white;
    text-align: center;
    font-size: 1.3em;
    padding: 10px;
}
.privacy{
    float: right;
    margin: -170px 450px;
    color: white;
}

